<% if (user) { %>

<p>Your Email is: <%= user.email%></p>

<form action="/logout" method="POST">
  <button>
    Logout
  </button>
</form>

<% } else { %>

<form action="/login" method="GET">
  <button>
    Login
  </button>
</form>

<form action="/register" method="GET">
  <button>
    Register
  </button>
</form>

<% } %>

<header>
  <h1><a href="/urls">TinyApp</a></h1>
</header>