<!DOCTYPE html>
<html lang="en">
<body style="font-size:20px; padding:50px;">
  <h2>
    Sorry what you were looking for was not found
  </h2>
  <a href="/urls">
    <button>
      Back Home
    </button>
  </a>
</body>
</html>